.navul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #af2e00;
}
.navli {
float: left;
}
.navli .nava {
display: block;
color: #d3b000;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.navli .nava:hover {
background-color: #661b00;
}
.sidebar { right: 0; height: calc(100vh - 54px);top: 54px; position: absolute; overflow: hidden;}
.absolute {position: absolute;}
.CenterHor {left: 50%; transform: translateX(-50%);}
.CenterVert {top: 50%; transform: translateY(-50%);}
Body {background: #af2e00 url("http://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/tumblr_o25lubbSXv1qzwtdlo1_1280.jpg") no-repeat fixed 0px 54px; background-size: cover;}
